<!doctype html>
<html><head>
  <title>BeardPhat Controller</title>
</head>
<body>
  <h1>BeardPhat Controller</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action="{{ url_for('sparkle') }}" method=post>
    <div><input type="text" size=15 name="person" value="{{ session['person'] }}"/></div>
    Sparkle: interval
    <input type="text" size=7 name="interval" value="0.1"/>
    <input type="text" size=7 name="density" value="8"/>
    <input type="text" size=7 name="colourmin" value="0"/>
    <input type="text" size=7 name="colourmax" value="255"/>
    <select name="blockcolour"><option>yes</option><option>no</option></select>
    <input type="submit" value="Start">
  </form>
  <a href="./stop/">Stop</a>
</body></html>